footer {
  color: #FFF;  

    .footer-above {
        padding-top: 50px;
        background-color: $theme-color;        
        padding-top: 30px;        
    }


.footer-col .btn-outline {
        &:hover,
        &:focus,
        &:active{
                color: $footer-text;
                background: $footer-color;
                border: solid 2px $footer-color;
        }
   }

.sobrenos p a, .duvidasgateway p a, .duvidasgateway span a {
    color: $section-corYapay2;
}


}




    
