$theme-color: #293272;

// Navbar colors
$nav-color: #e6e6e6;
$nav-text: #293272;
$nav-link:#293272;
$nav-hover:#3ec723;
$nav-focus2:#293272;
$nav-active:#fff;
$nav-active-bg:#3ec723;

// Cor Padrão TC
$section-corPadrao: #293272;

$section-corYapay: #293272;
$section-corYapay2: #3ec723;
$section-corYapay3: #e6e6e6;



// Header colors 
$header-text: #fff;
$gradient-top:#000;
$gradient-bottom:#1c2c74;

//Footer colors

$footer-textoPadrao: #e6e6e6;
$footer-text:#293272;
$footer-color: #3ec723;


//devices

$mobile: 768px;
