<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yapay Intermediador - Solução de pagamentos online</title>    

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MCMFZ82');
    </script>
    <!-- End Google Tag Manager -->
    
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Brand Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">    
    
    <link rel="stylesheet" href="/css/monokai-sublime.css">
    <link rel="stylesheet" href="/css/land.css">
	<link rel="stylesheet" href="/css/style.css">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    

</head>

<body id="page-top" class="index">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCMFZ82" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right menu_interno">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li {% if page.menu == 'intermediador' %} class="page-scroll intermediador" {% else %} class= page-scroll {% endif %}>
                        <a href="/intermediador/como-comecar/">Intermediador</a>
                    </li>                    
                     <li {% if page.menu == 'gateway' %} class="page-scroll gateway" {% else %} class= page-scroll {% endif %} >
                        <a href="/gateway/rest/sobre-rest/">Gateway</a>
                    </li>
					<!--<li class="page-scroll">
                        <a href="#recorrencia">Recorrência</a>
                    </li> -->
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header --> 
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12 logoTrayCheckoutDoc">
                    <img class="img-responsive logo" src="/images/Logo_Yapay_Branco.svg" alt="">
					<div class="searchBtn">						
						<form action="/search/" method="get">
							<input type="text" name="q" id="search-input" placeholder="Pesquise">
							<input type="submit" value="Search" style="display: none;">
						</form>
					</div>		


                </div>


            </div>
        </div>

    </header>
{% include sidebar.html %}